[user]
	name = Mario Lassnig
	email = mario@lassnig.net
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	fap = fetch --all --prune
[color]
	ui = true
[push]
	default = simple
